

body {
    background: #c7c9ce;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #1e2027;
    
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}
h2{
    color: #c7c9ce;
}
.product-detail {
    display: flex;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product {
    flex: 1;
    padding: 10px;
}

.main-image {
    width: 200px;
    
    border-radius: 10px;
}


.product-info {
    flex: 1;
    padding: 20px;
}


.price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.mrp {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}

.discount {
    color: red;
    font-weight: bold;
}

.inclusive {
    font-size: 12px;
    color: green;
    margin-top: 5px;
}

.rating {
    margin-top: 10px;
    font-size: 14px;
}

h3 {
    margin-top: 15px;
    font-size: 18px;
}

.sizes button {
    margin: 5px;
    padding: 8px 15px;
    border: black solid;
    cursor: pointer;
    background: white;
    border-radius:20px;
}

.sizes button:hover {
    background: #ff3f6c;
    color: white;
    border: none;
}

.actions {
    margin-top: 20px;
}

.buy-now {
    background: #0d274e;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    border-radius:20px;
}

.wishlist {
    background: white;
    padding: 12px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

/* Footer */
footer {
    background: #282c3f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
